.topRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 204px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    padding: 0 15px;
}

.topRow .title {
    flex: 1;
    display: flex;
    font-size: 30px;
    margin-top: 20px;
}

.topRow .info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.mainContent { 
    display: flex;
    margin-bottom: 30px;
}

.mainContent .sidebar {
    flex: 0.25;
    min-width: 210px;
    max-width: 370px;
}

.mainContent .cardsContainer {
    flex: 1;
    padding: 0 16px;
}

@media screen and (max-width: 540px) {
    .mainContent {
        flex-direction: column;
    }

    .mainContent .sidebar {
        max-width: 100%;
    }

    .mainContent .cardsContainer {
        margin-top: 35px;
    }
}

@media screen and (max-width: 430px) {
    .topRow .title {
        font-size: 22px;
    }

    .topRow .info {
        font-size: 16px;
    }

    .mainContent {
        flex-direction: column;
    }

    .mainContent .sidebar {
        font-size: 13px;
    }

    .mainContent .cardsContainer {
        margin-top: 30px;
    }
}